@font-face {
  font-family: "my-icon"; /* Project id 2989498 */
  src: url('//at.alicdn.com/t/font_2989498_m7rs0o8yb5s.woff2?t=1639085169534') format('woff2'),
       url('//at.alicdn.com/t/font_2989498_m7rs0o8yb5s.woff?t=1639085169534') format('woff'),
       url('//at.alicdn.com/t/font_2989498_m7rs0o8yb5s.ttf?t=1639085169534') format('truetype');
}

.my-icon {
  font-family: "my-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.my-icon-sort:before {
  content: "\e609";
}
.my-icon-bad:before {
  content: "\e745";
}

.my-icon-good:before {
  content: "\e753";
}

.my-icon-comments:before {
  content: "\e7b2";
}

.my-icon-bad-act:before {
  content: "\e779";
}

.my-icon-good-act:before {
  content: "\e780";
}

.my-icon-comments-act:before {
  content: "\e7aa";
}


